In [1]:
import pandas as pd
import numpy as np
import jqdatasdk as jq

In [2]:
jq.auth("15011559175", "Zengrongjun19")

auth success

In [3]:
jq.is_auth()

True

In [21]:
jq.get_query_count()

{'total': 1000000, 'spare': 643704}

In [17]:
dd = pd.read_csv("../data/000001.XSHG_60m_sticks.csv")

In [18]:
dd.shape

(16408, 6)

In [19]:
dd.head()

               Date     Open      High       Low    Close       Volume
0  2005-01-04 10:30  1260.78  1260.782  1238.187  1249.17  272139000.0
1  2005-01-04 11:30  1248.82  1250.914  1245.634  1250.28  159626400.0
2  2005-01-04 14:00  1250.61  1250.611  1238.860  1240.11  223247500.0
3  2005-01-04 15:00  1240.20  1243.376  1240.204  1242.77  216317000.0
4  2005-01-05 10:30  1240.61  1247.239  1238.521  1238.80  179890700.0

In [20]:
dd.tail()

                   Date     Open     High      Low    Close        Volume
16403  2021-11-18 15:00  3527.81  3528.96  3520.71  3520.71  6.092600e+09
16404  2021-11-19 10:30  3519.28  3531.19  3517.93  3526.84  1.237435e+10
16405  2021-11-19 11:30  3526.72  3533.50  3525.51  3532.55  5.452201e+09
16406  2021-11-19 14:00  3533.03  3560.71  3530.31  3560.27  6.429295e+09
16407  2021-11-19 15:00  3560.39  3561.79  3555.50  3560.37  7.543155e+09