In [1]:
import pandas as pd

In [8]:
data = pd.read_csv("../data/000001.XSHG_60m_sticks.csv")

In [10]:
data.shape

(16408, 6)

In [11]:
data.tail()

                   Date     Open     High      Low    Close        Volume
16403  2021-11-18 15:00  3527.81  3528.96  3520.71  3520.71  6.092600e+09
16404  2021-11-19 10:30  3519.28  3531.19  3517.93  3526.84  1.237435e+10
16405  2021-11-19 11:30  3526.72  3533.50  3525.51  3532.55  5.452201e+09
16406  2021-11-19 14:00  3533.03  3560.71  3530.31  3560.27  6.429295e+09
16407  2021-11-19 15:00  3560.39  3561.79  3555.50  3560.37  7.543155e+09

In [12]:
exp1 = data["Close"].ewm(span=12, adjust=False).mean()
exp2 = data["Close"].ewm(span=26, adjust=False).mean()

data["Diff"] = exp1 - exp2  # 白线
data["Dea"] = data["Diff"].ewm(span=9, adjust=False).mean()  # 黄线
data["Macd"] = (data["Diff"] - data["Dea"]) * 2  # 红绿柱

In [13]:
data["target"] = data["Macd"].apply(lambda x: 1 if x >= 0 else -1)
data["target2"] = data["target"].shift(1)  # 向下移动1个单位
data["my_date"] = data.apply(lambda row: row["Date"] if row["target"] + row["target2"] == 0 else None, axis=1)
df = data.fillna(method="ffill")  # 用缺失值前面的一个值代替缺失值

In [29]:
df[(df.Date > '2021-11-10') & (df.Date < '2021-11-17 16:30')]

,Date,Open,High,Low,Close,Volume,Diff,Dea,Macd,target,target2,my_date
16376,2021-11-10 10:30,3498.94,3498.94,3464.56,3469.49,1.308976e+10,-10.701660,-10.574279,-0.254761,-1,1.0,2021-11-10 10:30
16377,2021-11-10 11:30,3469.91,3469.91,3448.44,3464.80,5.933523e+09,-12.625251,-10.984474,-3.281555,-1,-1.0,2021-11-10 10:30
16378,2021-11-10 14:00,3465.67,3477.07,3458.28,3470.26,5.195894e+09,-13.552905,-11.498160,-4.109490,-1,-1.0,2021-11-10 10:30
16379,2021-11-10 15:00,3469.89,3493.36,3467.99,3492.46,6.483893e+09,-12.354310,-11.669390,-1.369841,-1,-1.0,2021-11-10 10:30
16380,2021-11-11 10:30,3486.45,3517.51,3482.83,3515.75,1.314264e+10,-9.416559,-11.218824,3.604530,1,-1.0,2021-11-11 10:30
16381,2021-11-11 11:30,3515.34,3517.34,3510.18,3513.15,5.800698e+09,-7.214998,-10.418058,6.406122,1,1.0,2021-11-11 10:30
16382,2021-11-11 14:00,3514.05,3527.57,3514.05,3527.57,6.119629e+09,-4.257592,-9.185965,9.856746,1,1.0,2021-11-11 10:30
16383,2021-11-11 15:00,3527.96,3534.20,3524.25,3532.79,7.145824e+09,-1.475607,-7.643894,12.336573,1,1.0,2021-11-11 10:30
16384,2021-11-12 10:30,3534.15,3540.39,3527.83,3529.78,1.334863e+10,0.480713,-6.018972,12.999371,1,1.0,2021-11-11 10:30
16385,2021-11-12 11:30,3529.35,3534.25,3527.50,3532.57,5.623377e+09,2.230528,-4.369072,13.199201,1,1.0,2021-11-11 10:30
16386,2021-11-12 14:00,3532.89,3543.65,3529.41,3542.74,5.510872e+09,4.387329,-2.617792,14.010242,1,1.0,2021-11-11 10:30
16387,2021-11-12 15:00,3542.55,3542.91,3538.03,3539.10,6.385459e+09,5.736762,-0.946881,13.367286,1,1.0,2021-11-11 10:30
16388,2021-11-15 10:30,3542.90,3550.29,3528.70,3534.84,1.509467e+10,6.388805,0.520256,11.737097,1,1.0,2021-11-11 10:30
16389,2021-11-15 11:30,3535.19,3539.43,3524.60,3528.88,5.483886e+09,6.351416,1.686488,9.329856,1,1.0,2021-11-11 10:30
16390,2021-11-15 14:00,3528.88,3538.95,3521.53,3534.03,4.942598e+09,6.660568,2.681304,7.958528,1,1.0,2021-11-11 10:30
16391,2021-11-15 15:00,3534.07,3534.93,3529.61,3533.30,5.780608e+09,6.768644,3.498772,6.539744,1,1.0,2021-11-11 10:30
16392,2021-11-16 10:30,3530.46,3549.77,3528.86,3540.01,1.234345e+10,7.311454,4.261308,6.100291,1,1.0,2021-11-11 10:30
16393,2021-11-16 11:30,3540.30,3546.50,3539.14,3543.46,5.251288e+09,7.928624,4.994772,5.867705,1,1.0,2021-11-11 10:30
16394,2021-11-16 14:00,3543.98,3545.84,3523.67,3525.19,6.437132e+09,6.864372,5.368692,2.991361,1,1.0,2021-11-11 10:30
16395,2021-11-16 15:00,3525.14,3531.29,3517.98,3521.79,7.008118e+09,5.681104,5.431174,0.499860,1,1.0,2021-11-11 10:30
16396,2021-11-17 10:30,3518.56,3530.22,3513.57,3530.07,1.188608e+10,5.349814,5.414902,-0.130176,-1,1.0,2021-11-17 10:30
16397,2021-11-17 11:30,3530.13,3532.01,3526.09,3529.26,4.718132e+09,4.964674,5.324856,-0.720365,-1,-1.0,2021-11-17 10:30
16398,2021-11-17 14:00,3530.36,3536.65,3526.37,3532.78,5.122198e+09,4.887146,5.237314,-0.700336,-1,-1.0,2021-11-17 10:30
16399,2021-11-17 15:00,3532.38,3537.51,3531.26,3537.37,5.947153e+09,5.136865,5.217224,-0.160719,-1,-1.0,2021-11-17 10:30

In [30]:
def cal_pos_ratio(s):
    temp_list = list(s)
    pos_cnt = len(list(filter(lambda x: x > 0, temp_list)))
    return pos_cnt / len(temp_list)

In [31]:
df2 = df.groupby("my_date").agg(dea_pos_ratio=("Dea", cal_pos_ratio)).reset_index()

In [34]:
df2.tail(10)

               my_date  dea_pos_ratio
1236  2021-10-22 15:00       1.000000
1237  2021-10-25 15:00       1.000000
1238  2021-10-27 10:30       0.357143
1239  2021-11-01 14:00       0.000000
1240  2021-11-02 14:00       0.000000
1241  2021-11-04 11:30       0.000000
1242  2021-11-10 10:30       0.000000
1243  2021-11-11 10:30       0.500000
1244  2021-11-17 10:30       1.000000
1245  2021-11-19 14:00       1.000000